.vscode
**/test/*
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.npmignore
.travis.yml
.huskyrc.json
.lintstagedrc.js
prettier.config.js
.prettierignore
renovate.json
.yarnrc
tsconfig.json
tslint.json
package-lock.json
yarn.lock
